@font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('Museo Sans Cyrl 500'), local('MuseoSansCyrl-500'), url('css/fonts/Museosanscyrl500.woff2') format('woff2'), url('css/fonts/Museosanscyrl500.woff') format('woff'), url('css/fonts/Museosanscyrl500.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}


body, html{
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
}

main{
    width: 100%;
    height: 100%;
}
    #wrapper{
        width: 100%;
        height: 100%;
    }           
        .menu{
            padding: 0 17%;
            width: 66%;
            min-height: 100px;
            background-color: #ffff;
            display: flex;
            justify-content: center;
            align-content: center;
        }   
            .menu > svg{
                padding: 20px 0px;
                transition: all 1s ease;
            }
            .menu > svg:hover{
                transform: scale(1.1);
            }
            .menu > :nth-child(2){
                margin-left: 60px;
            }
        
        #block_1{
            font-family:Museo Sans Cyrl;
            width: 100%;
            min-height: 690px;
            background-color: #3bb6d5;
            display: flex;
            flex-flow: row wrap;
            overflow: hidden;
        }   
            #block_1 > img{
                position: absolute;
                height: 768px;
                top: 52px;
                z-index: 1;
            }
            .counter{
                width: 100%;
                min-height: 315px;
                display: flex;
                flex-flow: column nowrap;
                padding-bottom: 24px;
                background: url('css/pics/cloud.svg') 0 30%, url('css/pics/laptop-book-bg.svg') 100% bottom;
                background-repeat: no-repeat;
                background-size: 20%, 35%;
                overflow: visible;
                z-index: 100;
                user-select: none; 
            }
                    .counter > p{
                        width: 100%;
                        color:white;
                        text-align: center;
                        text-transform: uppercase;
                        font-size: 22px;
                        font-weight: 700;
                        margin-top: 40px;
                }
                    .counter > div{
                        height: 100%;
                        color: white;
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: center;
                }
                        .counter > div > div{
                            flex-flow: row wrap;
                            justify-content: center;
                            margin: 0 3% 0 0 ;
                    }
                            .counter > div > div > :nth-child(1){
                                min-width: 135px;
                                min-height: 135px;
                                color: white;
                                font-size: 62px;
                                /* border: 10px solid white;
                                box-sizing: border-box;
                                border-radius: 50%;
                                box-shadow: 0px 0px 50px 15px white inset; */
                                text-align: center;
                                padding: 10% 10%;
                                font-weight: 100;
                                background: url(css/pics/eclipse1.svg) 100% 100%;
                                background-size: contain;
                                background-repeat: no-repeat;
                                line-height: 220%;
                                margin: 0;
                        }
                            .counter > div > div > :nth-child(2){
                                text-align: center;
                                font-size: 22px;
                            }
            
            #block_1 > #block_1_btn{
                width: 100%;
                min-height: 365px;
                font-family: 'Museo Sans Cyrl';
                background-color: #37aac7;
            }
                #block_1_btn > #block_1_text{
                    width:100%;
                    text-align: center;
                    font-size:22px;
                    text-transform: uppercase;
                    line-height: 36px;
                    color: white;
                    font-weight: 700;
                    z-index: 100;
                }
                #block_1_btn > #block_1_white_square{
                    position: relative;
                    width: 67%;
                    min-height: 242px;
                    background-color: #fff;
                    margin: 0 auto;
                    text-align: center;
                    z-index: 100;
                    padding: 0;
                }
                    #block_1_white_square > p, h1{
                        color: #23395e;
                    }
                    #block_1_white_square > h1{
                        font-size: 36px;
                        padding-top: 44px;
                        margin-bottom: 0;
                        text-transform: uppercase;
                        font-weight: 700;
                    }
                    #block_1_white_square > p{
                        font-size: 22px;
                    }

                    /* -----Button style------ */

                    .btn{
                        color: #fff;
                        background-color: #ffc53d;
                        min-width: 270px;
                        min-height: 65px;
                        border-radius: 30px;
                        font-size: 16px;
                        text-transform: uppercase;
                        border: none;
                        text-decoration: none;
                        font-weight: bold;
                        outline: none;
                        transition: all 0.5s ease;
                        cursor: pointer;
                    }   
                    .btn:hover{
                        background-color: #ffa43d;
                    }
        #block_2{
            position: relative;
            width: 100%;
            min-height:450px;
            font-family: 'Museo Sans Cyrl';
            background: url(css/pics/list_gear.svg) right 60%, #f5f5f5;
            background-size: 27%;
            background-repeat: no-repeat;
            margin:0;
            z-index: 150;
        }   
            #block_2 > h2{
                padding-left: 17%;
                background-color: #f5f5f5;
                color: #23395e;
                font-size: 36px;
                margin: 0;
                height: 140px;
                text-transform: uppercase;
                line-height: 200px;
                padding-bottom: 0;
                font-weight: 400;   
            }
            #block_2 > #block_2_list{
                padding-left: 17%;
                max-width: 55%;
                min-height: 450px;
                background-color: hsla(192, 72%, 84%, 0.8)
            }
                #block_2 > #block_2_list > ul{
                    padding-top: 40px;
                    padding-left: 25px;
                }
                    #block_2 > #block_2_list > ul > li{
                        list-style-image: url(css/pics/list-img.svg);
                        margin-bottom: 38px;
                        color: #23395e;
                        font-size: 16px;
                        font-weight: 500;
                    }
                    #block_2 > #block_2_list > ul :last-child{
                        padding-bottom: 0;
                    }
        
        #block_3{
            width: 100%;
            height: 800px;
            text-align: center;
            color: #23395e;
            font-family: 'Museo Sans Cyrl';

        }
            #block_3 > h2{
            background-color: #f5f5f5;
            font-size: 36px;
            font-weight: 100;
            text-transform: uppercase;
            }
                #block_3_tag_wrapper{
                    padding: 0 17% 0 17%;
                    width: 66%;
                    height: 360px;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    align-items: center;
                    background-color: #fff;
                }
                    .block_3_tag{
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: space-between;
                        height: 250px;
                    }
                        .block_3_tag > p {
                            flex-flow: column nowrap;
                            justify-content: space-around;
                            margin: 0;
                            font-size: 18px;
                        }
            #block_3_btn{
                padding: 0 20%;
                width: 60%;
                height: 350px;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                background-color: #f5f5f5;
                
            }
                #block_3_btn > h2{
                    font-size: 36px;
                    font-weight: 100;
                    text-transform: uppercase;
                    background: linear-gradient(to bottom, transparent 55%,#fff 45%);
                }
                #block_3_btn > p{
                    font-size: 20px;
                    font-weight: 400;
                    margin-top: 0;
                    margin-bottom: 60px;
                    font-weight: 500;
                }
                #block_3_btn > button{
                    padding: 0 20px 0 20px;

                }
        #block_4{
            width: 100%;
            height: 720px;
            font-family: 'Museo Sans Cyrl';
            color: #23395e;
            display: flex;
            flex-flow: column nowrap;
            background: url(css/pics/block_4_bg.svg) left bottom, hsla(192, 72%, 84%, 0.8);
            background-repeat: no-repeat;
        }
            #block_4 > h2{
                width: 100%;
                background-color: #f5f5f5;
                text-align: center;
                font-size: 36px;
                font-weight: 300;
                padding-bottom: 30px;
                margin: 0;
            }
            #block_4_images{
                min-width: 71.5%;
                margin: 0 auto;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                margin-bottom: 30px;
            }
                .block_4_images_wrapper{
                    width: 340px;
                    height: 190px;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: flex-start;
                    margin-left: 50px;
                    line-height: 30px;
                    font-size: 18px;
                    font-weight: 100;
                    margin-top: 50px;
                }
                    .block_4_images_wrapper > img{
                        padding-right: 18px;
                    }
                    .block_4_images_wrapper > p{
                        margin: 0;
                    }
            #block_4_btn{
                width: 40%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
            }
                #block_4_btn > h2{
                    font-size: 36px;
                    font-weight: 100;
                    text-transform: uppercase;
                    background: linear-gradient(to bottom, transparent 55%,#fff 45%);
                    width: 100%;
                    text-align: center;
                }
                #block_4_btn > p{
                    font-size: 22px;
                    line-height: 30px;
                    text-align: center;
                }
        
        #block_5{
            width: auto;
            height: 1000px;
            background-color: #f5f5f5;
            font-family: 'Museo Sans Cyrl';
            color: #23395e;
            display: flex;
            flex-flow: column nowrap;
            padding-left: 17%;
            padding-top: 40px;
            padding-bottom: 80px;
        }
            #block_5 > h2{
                font-size: 36px;
                font-weight: lighter;
            }
            #block_5 > div{ 
                width: 980px;
                display: flex;
                flex-flow: row nowrap;
            }
                .block_5_img_wrapper{
                    height: auto;
                    margin-bottom: 100px;
                }
                    .block_5_img_wrapper > div > h3{
                        text-align: left;
                        font-size: 22px;
                    }
                    .block_5_img{
                        width: 260px;
                        height: 290px;
                        margin-left: -20px;
                    }
                    .block_5_list{
                        margin-left: 80px;
                    }
                        .block_5_list > ul{
                            padding-left: 20px;
                            list-style-image: url(css/pics/section_5_list_img.svg);
                        }
                        .block_5_list > ul > li{
                            font-size: 18px;
                            margin-bottom: 20px;
                            line-height: 40px;
                        }
                        .block_5_list > ul > li:last-child{
                            font-weight: bold;
                        }
                    .block_5_list > .btn{
                        background-color:#22abbe;
                    }
                    .block_5_list > .btn:hover{
                        background-color:#0f8191;
                    }
        #block_6{
            position: relative;
            width: 100%;
            height: 300px;
            background-color: #fff;
            padding-top: 35px;
            font-family: 'Museo Sans Cyrl';
            color: #23395e;
        }
            #block_6 > img{
                position: absolute;
                bottom: 0;
                right: 200px;
                z-index: 200;
            }
                #block_6 > #block_6_text{
                    position: relative;
                    max-width: 570px;
                    height: 240px;
                    background-image: url(css/pics/block_6_text_bg_image.svg);
                    padding: 40px 100px;
                    margin-left: 17%;
                    background-repeat: no-repeat;
                    background-size: contain;
                    z-index: 201;
                    font-size: 18px;
                }
        #block_7{
            width: 100%;
            background-color: #22abbe;
            font-family: 'Museo Sans Cyrl';
            color: #23395e;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            padding-bottom: 15px;
        }
            #block_7 > .counter{
                background: #22abbe;
                background: none;
            }
            
        footer{
            width: 100%;
            height: 140px;
            display: flex;
            flex-flow: row nowrap;
            background-color: #23395e;
            color: white;
            justify-content: space-evenly;
            align-items: flex-start;
            padding-top: 25px;
        }
                footer > #footer_contacts > a{
                    text-decoration: none;
                    color: white;
                }
                footer > #footer_contacts > a > img, #footer_social > p > a > img{
                    position: relative;
                    margin: 0 5px 0 5px;
                }

            footer > #footer_social > p{    
                margin: 0;
                text-align: center;
            }

                                                                /*---------Hidden window---------*/
        #hidden_window{
            /* left: -1000px; */
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: hsla(217, 31%, 34%, 0.9);
            display: none;
            opacity: 0quwstio;
            transition: all 1s ease;
            z-index: 600;
            top:0;
        }
            #hidden_window > #registration{
                position: fixed;
                top: 10%;
                left: 20%;
                margin: 0 auto 0;
                display: none;
                flex-flow: row wrap;
                width: 60%;
                height: auto;
                border: 1px solid black;
                font-family: Museo Sans Cyrl;
                background-color: #ffffff;
                opacity: 0;
                transition: all 0.5s ease;
                z-index: 100;
            }
                #hidden_window > #registration > p, #hidden_window > #questions > h2{
                    margin:0;
                    min-height: 140px;
                    text-align: center;
                    width: 100%;
                    background-color: #f5f5f5;
                    line-height: 150px;
                    font-family: Museo Sans Cyrl;
                    font-weight: 300;
                    z-index: 1;
                    font-size: 40px;
                }
                                    /* ---------registration hide btn----------- */

                #hidden_window > #registration > button{
                    min-width: 27px;
                    min-height: 27px;;
                    position: absolute;
                    right: 20px;
                    top:20px;
                    color: black;
                    z-index: 10;
                    text-decoration: none;
                    outline: none;
                    border: none;
                    background-color: transparent;
                    font-family: 'Museo Sans Cyrl';
                    font-size: 60px;
                    font-weight: lighter;
                    background-image: url('css/pics/registrationClose.svg');
                    transition: all 0.5s ease;
                }
                    #hidden_window > #registration > button:hover{
                        transform: rotate(90deg);
                        cursor: pointer;
                    }
                    #hidden_window > #registration > form{
                        padding-top: 10%;
                        margin-left: 20%;
                        width: 100%;
                        height: 100%;;
                        background-image: url(css/pics/login.svg);
                        background-position: 90% top;
                        background-repeat: no-repeat;
                        overflow: visible;
                        z-index: 2;
                    }
                        #hidden_window > #registration > form > p{
                            max-width: 330px;
                            height: 50px;
                            margin: 20px 20px 20px 0px;
                            
                        }
                        #hidden_window > #registration > form > button{
                            margin: 6%;
                            letter-spacing: 1px;
                            font-family: 'Museo Sans Cyrl';
                        }
                        #hidden_window > #registration > form > p > input{
                            width: 100%;
                            height: 100%;
                            font-size: 18px;
                            font-family: 'Museo Sans Cyrl';
                            border: 2px solid #363636;
                            padding-left: 18px;
                            outline: none;
                            transition: all 0.5s ease;
                        }
                        #hidden_window > #registration > form > p > input:hover, input:focus{
                            box-shadow: 0 0 5px 1px orange inset;
                        }
            /* #hidden_window > #questions{
                width: 100%;
                height: 100%;
                position: fixed;
                display: flex;
                flex-flow: column nowrap;
            }     */
            #hidden_window > #questions{
                position: fixed;
                top: 10%;
                left: 20%;
                margin: 0 auto 0;
                display: flex;
                flex-flow: column wrap;
                width: 60%;
                height: auto;
                border: 1px solid black;
                font-family: Museo Sans Cyrl;
                background-color: #ffffff;
                display: flex;
                opacity: 1;
                transition: all 0.5s ease;
                z-index: 401;
                display: none;
            }   
                #questions > button{
                    min-width: 27px;
                    min-height: 27px;;
                    position: absolute;
                    right: 5px;
                    top:5px;
                    color: black;
                    z-index: 10;
                    text-decoration: none;
                    outline: none;
                    border: none;
                    background-color: transparent;
                    font-family: 'Museo Sans Cyrl';
                    font-size: 60px;
                    font-weight: lighter;
                    background-image: url('css/pics/registrationClose.svg');
                    transition: all 0.5s ease;
                }
                #questions > button:hover{
                    transform: rotate(90deg);
                    cursor: pointer;
                }
                #questions > img{
                    position: absolute;
                    right: 5%;
                    bottom: 0;
                    z-index: 1;
                }
                        #questions > #questions_form > form{
                            display: flex;
                            flex-flow: column nowrap;
                            padding-left: 50px; 
                            z-index: 5;
                        }
                            #questions > #questions_form > form > label{
                                text-transform: uppercase;
                                margin: 15px 0;
                            }
                            #questions > #questions_form > form > input{
                                width: 30%;
                                height: 30px;
                                border: 2px solid black; 
                                padding-left: 10px;
                                font-size: 16px;
                            }
                            #questions > #questions_form > form > textarea{
                                width: 60%;
                                border: 2px solid black; 
                                z-index: 5;
                                outline: none;
                                resize: none;
                                font-family: 'Museo Sans Cyrl';
                                font-size: 16px;

                            }
                            #questions > #questions_form > form > button{
                                width: 20%;
                                margin: 40px auto 40px;
                            }
            #hidden_window > #education_programm{
                position: relative;
                width: 60%;
                height: auto;
                position: fixed;
                top: 10%;
                left: 20%;
                margin: 0 auto 0;
                display: none;
                flex-flow: column wrap;
                width: 60%;
                height: auto;
                border: 1px solid black;
                font-family: Museo Sans Cyrl;
                background-color: #ffffff;
                opacity: 0;
                transition: all 0.5s ease;
                z-index: 500;
        }
                #hidden_window > #education_programm > h2{
                    margin:0;
                    min-height: 140px;
                    text-align: center;
                    width: 100%;
                    background-color: #f5f5f5;
                    font-family: Museo Sans Cyrl;
                    font-weight: 300;
                    z-index: 1;
                    font-size: 30px;
                    line-height: 150px;
                    text-transform: uppercase;
                }
                #hidden_window > #education_programm > img{
                    position:absolute;
                    right: 5%;
                    bottom: 2%;
                    z-index: 101;
                    height: 75%;
                    z-index: 498;
                }   
                #hidden_window > #education_programm > button{
                    min-width: 27px;
                    min-height: 27px;;
                    position: absolute;
                    right: 5px;
                    top:5px;
                    color: black;
                    z-index: 10;
                    text-decoration: none;
                    outline: none;
                    border: none;
                    background-color: transparent;
                    font-family: 'Museo Sans Cyrl';
                    font-size: 60px;
                    font-weight: lighter;
                    background-image: url('css/pics/registrationClose.svg');
                    transition: all 0.5s ease;
                }
                #hidden_window > #education_programm > button:hover{
                    transform: rotate(90deg);
                    cursor: pointer;
                }
                    #hidden_window > #education_programm > #education_form_wrapper{
                        width: 30%;
                        height: 400px;
                        justify-content: center;
                        align-items: center;
                        margin-left: 17.5%;
                        overflow: visible;
                        z-index: 500;
                    }
                        #hidden_window > #education_programm > #education_form_wrapper > form{
                            display: flex;
                            flex-flow: column nowrap;
                            justify-content: center;
                            align-items: center;
                            overflow: visible;
                        }
                            #hidden_window > #education_programm > #education_form_wrapper > form > input{
                                height: 40px;
                                font-size: 20px;
                                margin: 20px 0px 40px 0px;
                                padding-left: 10px;
                            }
                            #hidden_window > #education_programm > #education_form_wrapper > form > label{
                                margin-top: 35%;
                                text-transform: uppercase;
                                font-size: 22px;
                            }
            #hidden_window > #login_window{
                position: relative;
                width: 50%;
                height: 70%;
                position: fixed;
                top: 15%;
                left: 25%;
                margin: 0 auto 0;
                display: none;
                flex-flow: column wrap;
                border: 1px solid black;
                font-family: Museo Sans Cyrl;
                background-color: #ffffff;
                opacity: 0;
                transition: all 0.5s ease;
                font-family: 'Museo Sans Cyrl';
                z-index: 700;
            }
                #hidden_window > #login_window > h2{
                    margin:0;
                    min-height: 100px;
                    text-align: center;
                    width: 100%;
                    background-color: #f5f5f5;
                    font-family: Museo Sans Cyrl;
                    font-weight: 300;
                    z-index: 1;
                    font-size: 30px;
                    line-height: 150px;
                    text-transform: uppercase;
                }
                #hidden_window > #login_window > img{
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    z-index: 2;
                }
                #hidden_window > #login_window > a{
                    min-width: 27px;
                    min-height: 27px;;
                    position: absolute;
                    right: 5px;
                    top:5px;
                    color: black;
                    z-index: 10;
                    text-decoration: none;
                    outline: none;
                    border: none;
                    background-color: transparent;
                    font-weight: lighter;
                    background-image: url('css/pics/registrationClose.svg');
                    transition: all 0.5s ease;
                }
                #hidden_window > #login_window > a:hover{
                    transform: rotate(90deg);
                    cursor: pointer;
                }
                #hidden_window > #login_window > button{
                    width: 40%;
                    margin: 0 auto;
                    z-index: 3;
                }
                #hidden_window > #login_window > form{
                    width: 75%;
                    height: 45%;
                    z-index: 3;
                }
                    #hidden_window > #login_window > form > input{
                        width: 45%;
                        height: 40px;
                        border: 2px solid black; 
                        box-sizing: border-box;
                        margin: 10px;
                        padding-left: 10px;
                        font-family: 'Museo Sans Cyrl';
                    }